/* STYLE */

/* COLOR */
.green {
  color: #a7fe60
}
.blue {
  color: #a1bad6
}
.red {
  color: #ff8a8aff
}
.orange {
  color: rgb(167, 152, 103)
}
.reveal .progress .progress-bar {
  background-color: #383d3c;
}

/* Justification */
.ragged_right {
  text-align: right;
}
.small-center {
  text-align: center;
  font-size: 0.6em;
}
.bg{
    blue: #2b4050;
    green: #383d3c; 
    dark: #1c1c1c;
}

/* Slide de séparation de bloc */
.reveal section.bloc-slide {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centrage vertical */
}
