/* STYLE */

/* COLOR */
.green {
  color: #a7fe60
}
.green_light {
  color: #e8ffd5
}
.green_dark {
  color: #383d3c
}
.blue {
  color: #a1bad6
}
.blue_dark {
  color: #2b4050
}
.red {
  color: #ff8a8aff
}
.frost_1 {
  color: #8fbcbb
}
.frost_2 {
  color: #88c0d0
}
.frost_3 {
  color: #81a1c1
}
.frost_4 {
  color: #5e81ac
}
.orange {
  color: rgb(167, 152, 103)
}
.reveal .progress .progress-bar {
  background-color: #383d3c;
}

/* Justification */
.ragged_right {
  text-align: right;
}
.small-center {
  text-align: center;
  font-size: 0.6em;
}
.bg{
    blue: #2b4050;
    green: #383d3c; 
    dark: #1c1c1c;
}

/* Slide de séparation de bloc */
.reveal section.bloc-slide {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centrage vertical */
}
